.navbar .img-icon {
  width: 30px;
  height: auto;
}
.main-content {
  width: 70%;
}
.btn {
  display: block;
}
.row .btn {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
